body{
  font-family: monospace;
  height: 100%;
}

ul{

  list-style: none;
}

input{
  background-color: red;
}

#lose-screen, #play-game, #win-screen  {
  display: none;
}

#command-list {
  position:fixed;
  bottom: 0;
  background-color: white;
}

#player-stats {
  position:fixed;
  left: 0;
}

#story-block {
  left: 300px;
  margin-bottom: 50px;
}
